img.resized {
    max-width: 80vw;
}

code.codespan {
    background-color: #777676;
    border-radius: 0.3em;
    padding: 0.2em;
}

pre code.hljs {
    font-family: 'Monaco';
    background-color: #fafafa;
    font-size: .9em;
    max-height: 25em;
    overflow-y: auto;
}

blockquote {
    font-style: italic;
    /* color:gray; */
    /* background-color: aliceblue; */
    /* background-color:darksalmon; */
    /* color: white; */
    /* border-left: .2em solid coral; */
}

blockquote::before {
    content: '\201C';
    display: block;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: -.5em;
    top: -.3em;
    position: relative;
    /* color: gray; */
    height: 0;
}