img.resized {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: #d5f4fd solid 2px; */
}

code.codespan {
    background-color: #cecdcd;
    background-color: #e6e6e6;
    background-color: #f5f4f4;
    /* background-color: black;
    background-color: gray;
    background-color: lightgrey; */
    border-radius: 0.3em;
    padding: 0.2em;
    font-weight: bold;
    color: white;
    color: #d5f4fd;
    color: rgb(78, 197, 244);
    color: cornflowerblue;
    color: rgb(92, 146, 246);
    /* box-shadow: 0 0 0 .1em #f5f4f4; */
}

pre code.hljs {
    font-family: 'Monaco';
    /* background-color: #f2ecd4; */
    /* background-color: rgb(162, 153, 157); */
    /* background-color: #d3f0f9; */
    font-size: .9em;
    max-height: 25em;
    overflow-y: auto;
    border-radius: .3em;
    /* background-color: rgb(247, 247, 247); */
    /* border: #8a8a8a 1px solid; */
    box-shadow: 0 0 .3em .05em rgb(137, 137, 137);
    /*box-shadow:  [h-shadow] [v-shadow] [blur] [color] {inset}*/
    span.hljs-title{
        font-weight: bold;
    }
}

blockquote {
    font-style: italic;
    /* background-color: #d5f4fd; */
    /* border-color: #d5f4fd; */
    /* border: #d5f4fd solid .5em;
    border: #53d5f8 solid .1em; */
    /* border: #50c1e0 solid .4em; */
    /* background-color: #d5f4fd; */
    /* background-color: ; */
    /* background-color: rgba(231, 229, 229, 0.473); */
    border-radius: .7em;
    padding: .5em;
    background: linear-gradient(to right, rgb(246, 244, 244), #d5f4fd);
    background: linear-gradient(to right,#d5f4fd, white);
    background: linear-gradient(to bottom,#d5f4fd, white);
    background: linear-gradient(to bottom right, white, #d5f4fd);
    background: linear-gradient(to top left, white, #e4f9ff);
    color: rgb(62, 62, 62);
    /* color: rgb(34, 184, 243); */
    /* color:gray; */
    /* background-color: aliceblue; */
    /* background-color:darksalmon; */
    /* color: white; */
    /* border-left: .2em solid coral; */
}

blockquote::before {
    content: '\201C';
    display: block;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: -.5em;
    top: -.3em;
    position: relative;
    color: rgb(88, 87, 87);
    height: 0;
}

#BlogContent>p{
    font-family: Geneva, Calibri, sans-serif;
    /* font-family: Calibri; */
    /* font-size: 1.1em; */
    line-height: 1.5em;
}

#BlogContentContainer{
    display: flex;
    width: 100%;
}

#BlogContent{
    width: 75%;
    /* flex-grow: 1; */
    padding-left: .5em;
    padding-right: .5em;
    /* flex-grow: 1; */
    /* background-color: aqua; */
}

#BlogTableofContentsContainer{
    background-color: bisque;
    width: 25%;
    /* display: none; */
    /* padding: 0.5em; */
    /* padding-top: 3em; */
    /* padding-top: 30vh; */
    /* flex-grow: 1; */
    font-family: Geneva, Calibri, sans-serif;
    position: relative;
    /* position: sticky; */
    /* position: -webkit-sticky; Safari */
    /* top: 10vh; */
    /* top: 0; */
}

/* h1,h2,h3,h4,h5,h6{
    scroll-margin-top: 50px;
} */

#BlogTableofContents{
    /* width: 100%; */
    /* width: 200px; */
    box-sizing: border-box;
    /* padding: .8em; */
    padding: .5em;
}

#BlogTableofContents.normal {
    /* background-color: green; */
    /* width: 100%; */
    /* width: 100px; */
    /* width: calc(100% - 5em); */
    /* width: 50px; */
    /* height: 100px; */
    position: inherit;
    /* padding-top: 1.5em; */
}

#BlogTableofContents.restore {
    /* background-color: red; */
    position: absolute;
    bottom: 0;
}

#BlogTableofContents.sticky {
    /* background-color: yellow; */
    /* width: 100%; */
    /* width: 15%; */
    /* width: 50px; */
    /* height: 100px; */
    position: fixed;
    top: 10vh;
    /* padding-top: 10em; */
}


#BlogTableofContents a{
    /* background-color: brown; */
    overflow-wrap: break-word;
    text-decoration: none;
    color: black;
}

#Toc-Title{
    /* background-color: blueviolet; */
    font-size: 1.2em;
}

#BlogTableofContents ul, ol {
    list-style: none;
}

#BlogTableofContents>ul{
    /* background-color: red; */
    padding-left: 0px;
    /* margin-left: 0px; */
}

#BlogTableofContents>ul ul{
    /* margin-left: 0px; */
    padding-left: 1.3em;
}

#BlogAuthorInfoBar {
    display: flex;
    align-items: center;
    height: 45px;
    /* background-color: #33dab6; */
  }

  #BlogMain {
    /* max-width: 800px; */
    width: 90%;
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    margin: auto auto;
    margin-top: 15vh;
  }

  #BlogMain .BlogMainAlert {
    background-color: antiquewhite;
    padding: 0.5em;
  }